body{
    max-width:100%;
    background-color:whitesmoke;
}

.main1{width:fit-content;
    padding:10%;
    padding-top:5%;
    overflow:hidden;
}

    .main1__one{
        position:center;
    }


    .show{
        margin:5%;
        color:black;
}

table,td,tr{
    width:80%;
    border:1px solid black;
    border-collapse: collapse;
    
}
th{
    width:80%;
    border:1.8px solid black;
    border-collapse: collapse;
}
  
  